{% extends 'dashboard/base.html' %}
{% block title %}Select Project{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Select a Project</h2>
    <ul class="list-group mt-3">
        {% for project in projects %}
        <li class="list-group-item">
            <a href="{% url 'dashboard:add_job_entry' project.pk %}">{{ project.name }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">No projects available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
