diff --git a/jobtracker/templates/admin/login.html b/jobtracker/templates/admin/login.html
index 02b3a27edf591c697331e329ac72d19815c50759..3e9ce4af052eda9b8ec81633fd1aa104af82989c 100644
--- a/jobtracker/templates/admin/login.html
+++ b/jobtracker/templates/admin/login.html
@@ -1,22 +1,24 @@
 {% extends "admin/base_site.html" %}
-{% load i18n %}
+{% load i18n static %}
 
 {% block content %}
 <div id="content-main">
     <div class="login-logo">
         {% if global_settings and global_settings.logo %}
             <img src="{{ global_settings.logo.url }}" alt="Squire Enterprises Logo" height="80">
+        {% else %}
+            <img src="{% static 'img/logo.png' %}" alt="Squire Enterprises Logo" height="80">
         {% endif %}
     </div>
     {% if form.errors %}
         <p class="errornote">{% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}</p>
     {% endif %}
     <form action="{{ form_url }}" method="post" id="login-form">{% csrf_token %}
         {{ form.as_p }}
         <input type="hidden" name="next" value="{{ next }}">
         <div class="submit-row">
             <input type="submit" value="{% translate 'Log in' %}">
         </div>
     </form>
 </div>
 {% endblock %}
